<% @page_title = "All Volunteers" %>

<h1>Volunteers</h1>

<p>
    <%= link_to(new_volunteer_path(@volunteer), :class => 'btn btn-primary') do %>
        <span class="glyphicon glyphicon-plus"></span>Add Volunteer
    <% end %>
</p>

<form class="form-inline">
    <div class="form-group">
        <%= form_tag(volunteers_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search by name", :class => "form-control" %>
            <%= submit_tag("Search", :name => nil, :class => 'btn btn-outline-secondary') %>
        <% end %>
    </div>
</form>

<br>

<div>
  <% if(params[:search].present?) %>
    <p>
        Searching with: '<%= params[:search].to_s %>'
    </p>
  <% end %>

  <% if(params[:member_type].present?) %>
    <p>
      Volunteers with Member Type: <%= link_to @member_type_filter.name, member_type_path(@member_type_filter) %>
    </p>
  <% end %>
</div>

<%= paginate @volunteers %>

<div>
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-dark">
            <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Member Info</th>
            </tr>
        </thead>
        <tbody>
            <% @volunteers.each do |volunteer| %>
                <tr>
                    <td><%= link_to volunteer.first_name, volunteer_path(volunteer) %></td>
                    <td><%= link_to volunteer.last_name, volunteer_path(volunteer) %></td>
                    <td><%= link_to volunteer.email_address, volunteer_path(volunteer) %></td>
                    <td><%= link_to "View Member Details", volunteer_path(volunteer), :class => 'btn btn-secondary' %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

<% if @volunteers.blank? %>
  <% if params[:search].present? %>
    <h4>There are no volunteers with name containing '<%= params[:search] %>'.</h4>
  <% elsif params[:member_type] %>
    <h4>There are no volunteers with member type '<%= @member_type_filter.name %>' yet.</h4>
  <% else %>
    <h4>There are no volunteers yet.</h4>
  <% end %>
<% end %>

<%# <%= will_paginate @volunteers, renderer: BootstrapPagination::Rails %>

<%= paginate @volunteers %>
