<%# Display any form errors at the top of the form: %>
<% if @time_record.errors.any? %>
    <% @time_record.errors.full_messages.each do |error_message| %>
        <div class="alert alert-danger"><%= error_message %></div>
    <% end %>
<% end %>

<%# Display the form fields: %>

<p>
    <%=form.label :event_id %><br>
    <%= form.collection_select(:event_id, @events, :id, :name,
            {:selected => @selected_event.id}) %>
    <%= link_to "Add Event", new_event_path, :class => 'btn btn-light btn-sm' %>
</p>

<p>
    <%=form.label :volunteer_id %><br>

    <%= form.collection_select(:volunteer_id, @volunteers, :id, :email_address, 
            {:selected => @selected_volunteer.id}) %>
    <%= link_to "Add Volunteer", new_volunteer_path, :class => 'btn btn-light btn-sm' %>
</p>

<p>
    <%=form.label :name %><br>
    <%= form.text_field(:name, {:class => 'form-control'}) %>
</p>

<p>
    <%=form.label :start_time %><br>
    <%= form.datetime_select(:start_time, :ampm => true, :minute_step => 15, :class => 'form-control') %>
</p>

<p>
    <%=form.label :end_time %><br>
    <%= form.datetime_select(:end_time, :ampm => true, :minute_step => 15, :class => 'form-control') %>
</p>

<p>
    <%=form.label :category %><br>
    <%= form.text_field(:category, {:class => 'form-control'}) %>
</p>

<p>
    <%=form.label :notes %><br>
    <%= form.text_area(:notes, {:class => 'form-control'}) %>
</p>