<% if !flash[:notice].blank? %>
    <div class="alert alert-success">
        <%= flash[:notice] %>
    </div>
<% end %>

<h1>Time Records</h1>

<h2>
    <% if(@parent_event) %>
        Time Records for Event: <%= link_to @parent_event.name, event_path(@parent_event) %>
    <% elsif(@parent_volunteer) %>
        Time Records for Volunteer: <%= link_to @parent_volunteer.first_name, volunteer_path(@parent_volunteer) %>
    <% else %>
        All Time Records
    <% end %>
</h2>

<p>
    <% if(@parent_event) %>
        <%= link_to "Add Time Record", new_time_record_path(@time_record, :event_id => @parent_event.id), :class => 'btn btn-primary' %>
    <% elsif(@parent_volunteer) %>
        <%= link_to "Add Time Record", new_time_record_path(@time_record, :volunteer_id => @parent_volunteer.id), :class => 'btn btn-primary' %>
    <% else %>
        <%= link_to "Add Time Record", new_time_record_path(@time_record), :class => 'btn btn-primary' %>
    <% end %>
</p>


<div>
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">More Info</th>
            </tr>
        </thead>
        <tbody>
            <% @time_records.each do |time_record| %>
                <tr>
                    <td><%= link_to time_record.name, time_record_path(time_record) %></td>
                    <td><%= link_to time_record.start_time, time_record_path(time_record) %></td>
                    <td><%= link_to time_record.end_time, time_record_path(time_record) %></td>
                    <td><%= link_to "Details", time_record_path(time_record), :class => 'btn btn-secondary' %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>