<% if !flash[:notice].blank? %>
    <div class="alert alert-success">
        <%= flash[:notice] %>
    </div>
<% end %>

<h1>Time Records Index</h1>

<h2>
    <% if(@parent_event) %>
        Time Records for Event: <%= @parent_event.name %>
    <% elsif(@parent_volunteer) %>
        Time Records for Volunteer: <%= @parent_volunteer.first_name %>
    <% else %>
        All Time Records
    <% end %>
</h2>

<% if(@parent_event) %>
        <%= link_to "Add Time Record", new_time_record_path(@time_record, :event_id => @parent_event.id), :class => 'btn btn-default' %>
<% elsif(@parent_volunteer) %>
        <%= link_to "Add Time Record", new_time_record_path(@time_record, :volunteer_id => @parent_volunteer.id), :class => 'btn btn-default' %>
<% else %>
        <%= link_to "Add Time Record", new_time_record_path(@time_record), :class => 'btn btn-default' %>
<% end %>



<% @time_records.each do |time_record| %>
    <div class="well">
        <h3><%= time_record.name %></h3>
        <p> Start Time: <%= time_record.start_time %> </p>
        <p> End Time: <%= time_record.end_time %> </p>
        <%= link_to "View Time Record Details", time_record_path(time_record),
            :class => 'btn btn-default' %>
    </div>
<% end %>