<% if !flash[:notice].blank? %>
    <div class="alert alert-success">
        <%= flash[:notice] %>
    </div>
<% end %>

<h5>Time Record</h5>

<%= link_to "View All Time Records", time_records_path, :class => 'btn btn-light' %>

<h2><%= @time_record.name %></h2>

<div>
    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
            <th scope="col"></th>
            <th scope="col">Time</th>
            <th scope="col">Day</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Start:</th>
                <td><%= @time_record.start_time.strftime("%I:%M %p") %></td>
                <td><%= @time_record.start_time.strftime("%a, %b %d") %></td>
            </tr>
            <tr>
                <th scope="row">End:</th>
                <td><%= @time_record.end_time.strftime("%I:%M %p") %></td>
                <td><%= @time_record.end_time.strftime("%a, %b %d") %></td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
            <th scope="col">Details</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Volunteer:</th>
                <td><%= link_to((@volunteer.first_name + " " + @volunteer.last_name + " <" + @volunteer.email_address + ">"), volunteer_path(@volunteer)) %></td>
            </tr>
            <tr>
                <th scope="row">Event:</th>
                <td><%= link_to(@event.name, event_path(@event)) %></td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
            <th scope="col">Category</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= @category_name  %></td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
            <th scope="col">Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= @time_record.notes %></td>
            </tr>
        </tbody>
    </table>
</div>

<%= link_to "Edit", edit_time_record_path(@time_record), :class => 'btn btn-primary' %>

<%= link_to("Delete", delete_time_record_path(@time_record), :class => 'btn btn-danger') %>
