<% @page_title = "View Time Record" %>

<h5>Time Record</h5>

<p>
    <%= link_to "View All Time Records", time_records_path, :class => 'btn btn-light' %>
</p>

<div class="card">
  <div style="padding: 8px" class="card-header">
    <h2><%= @time_record.name %></h2>
  </div>
  <div style="padding: 2px" class="card-body">
    <%= render(:partial => 'info_table') %>
  </div>
  <div style="padding: 8px" class="card-footer">
    <%= link_to "Edit", edit_time_record_path(@time_record), :class => 'btn btn-primary' %>

    <%= link_to("Delete", delete_time_record_path(@time_record), :class => 'btn btn-danger') %>
  </div>
</div>
