<% if !flash[:notice].blank? %>
    <div class="alert alert-success">
        <%= flash[:notice] %>
    </div>
<% end %>

<h1>Events</h1>

<p>
    <%= link_to "Add Event", new_event_path(@event), :class => 'btn btn-primary' %>
</p>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Event Name</th>
            <th scope="col">Year</th>
            <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <% @events.each do |event| %>
                <tr>
                    <th scope="row"><%= link_to event.name, event_path(event) %></th>
                    <td><%= event.year %></td>
                    <td><%= link_to "View Event Details", event_path(event), :class => 'btn btn-secondary' %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
