<% @page_title = "View Event" %>

<h5>Event Record</h5>

<p>
    <%= link_to "View All Events", events_path, :class => 'btn btn-light' %>
</p>

<div class="card">
  <div style="padding: 8px" class="card-header">
    <h2><%= event_title(@event) %></h2>
  </div>
  <div style="padding: 2px" class="card-body">
    <%= render(:partial => 'info_table') %>
  </div>
  <div style="padding: 8px" class="card-footer">
    <%= link_to "Edit", edit_event_path(@event), :class => 'btn btn-primary' %>

    <%= link_to("Delete", delete_event_path(@event), :class => 'btn btn-danger') %>
  </div>
</div>

<br>

<p>
    <%= link_to "View Event Time Records", time_records_path(:event_id => @event.id), :class => 'btn btn-info' %>
</p>
