<% @page_title = "View Event" %>

<h5>Event Record</h5>

<p>
    <%= link_to "View All Events", events_path, :class => 'btn btn-light' %>
</p>

<h2><%= event_title(@event) %></h2>

<br>

<div>
    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
            <th scope="col">Event Info</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Event Name:</th>
                <td><%= @event.name %></td>
            </tr>
            <tr>
                <th scope="row">Year:</th>
                <td><%= @event.year %></td>
            </tr>
            <tr>
                <th scope="row">Website:</th>
                <td><%= @event.website %></td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
            <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= @event.description %></td>
            </tr>
        </tbody>
    </table>
</div>

<%= link_to "Edit", edit_event_path(@event), :class => 'btn btn-primary' %>

<%= link_to("Delete", delete_event_path(@event), :class => 'btn btn-danger') %>

<br>
<br>

<%= link_to "View Event Time Records", time_records_path(:event_id => @event.id), :class => 'btn btn-info' %>
