<% if !flash[:notice].blank? %>
    <div class="alert alert-success">
        <%= flash[:notice] %>
    </div>
<% end %>

<h1>Show Event</h1>

<%= link_to "View All Events", events_path, :class => 'btn btn-default' %>

<p>
    Event Details:
    <ul>
        <li>Event Name: <%= @event.name %></li>
        <li>Year: <%= @event.year %></li>
        <li>Website: <%= @event.website %></li>
    </ul>
</p>

<p>
    Description: <br>
    <%= @event.description %>
</p>

<%= link_to "Edit", edit_event_path(@event), :class => 'btn btn-primary' %>

<%= link_to("Delete", delete_event_path(@event), :class => 'btn btn-danger') %>

<%= link_to "View Event Time Records", time_records_path(:event_id => @event.id), :class => 'btn btn-secondary' %>
