<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Volunteer Time Recorder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <li class="nav-item">
        <%= link_to "Volunteers", volunteers_path, {:class => "nav-link"} %>
        </li>
        <li class="nav-item">
        <%= link_to "Events", events_path, {:class => "nav-link"} %>
        </li>
        <li class="nav-item">
        <%= link_to "Time Records", time_records_path, {:class => "nav-link"} %>
        </li>
    </ul>
        <ul class="navbar-nav navbar-right">
        <li class="nav-item active">
        <li class="nav-item">
        <%# <%= link_to "Add Time Record", new_time_record_path, {:class => "btn btn-success"} %>
        <%= link_to(new_volunteer_path(@volunteer), :class => 'btn btn-success') do %>
            <span class="glyphicon glyphicon-plus"></span>Add Time Record
        <% end %>
        </li>
    </ul>
    </div>
</nav>