<!DOCTYPE html>
<html>
  <head>
    <title>Volunteer Time Recorder: <%= @page_title || "App" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Custom styles for this template -->
    <%# <link href="sticky-footer.css" rel="stylesheet"> %>
    <%= stylesheet_link_tag    'https://getbootstrap.com/docs/4.1/examples/sticky-footer/sticky-footer.css' %>
  </head>

  <body>
    
    <%= render(:partial => 'layouts/navbar') %>

    <div class="container">

      <div class="app-yield-content">
        <% if !flash[:notice].blank? %>
          <div class="alert alert-success">
              <%= flash[:notice] %>
          </div>
        <% end %>

        <%= yield %>
      </div>

    </div>


    <%# <!-- Footer -->
    <footer class="page-footer font-small blue">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer --> %>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">created by timhdavis</span>
      </div>
    </footer>

  </body>
</html>
